:root {
  --brown-bg: black;/*#432222;*/
  --red-panel: #843D3D;
  --red-nav: #C3463C;
  --blue-tie: #7D9CA8;
  --off-white: #F2F2F2;
  --blackish: #383232;
}
* {
  box-sizing: border-box;
}
html {
  background-color: var(--brown-bg);
}
h1 {
  font-family: 'Special Elite', cursive;
  font-size: 4rem;
}
body {
  margin: 1rem;
  font-family: 'Oswald', sans-serif;
}
img {
  width: 100%;
}
header {
  text-align: center;
  color: var(--off-white);
}
nav {
  padding: 0.25rem;
  border: 0.1rem solid var(--off-white);
  border-radius: 0.25rem;
  font-size: 1.50rem;
  font-family: 'Special Elite', cursive;
  background-color: var(--red-panel);
}
nav a {
  display: inline-block;
  color: var(--off-white);
  text-align: left;
  padding: 0.5rem;
  padding-top: 1rem;
  text-decoration: none;
}
nav .social {
  width: 100%;
  padding: 0 0.25rem;
  text-align: center;
}
nav a:hover {
  background-color: var(--blue-tie);
  color: var(--blackish);
}

/* Social Media Icons */
.fa {
  width: 3rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: black;
  color: var(--off-white);
}
.social a {
  padding: 0.75rem;
  margin: 0 0.25rem;
}
.fa:hover {
    opacity: 0.7;
}

/* Main page */
.toplevel {
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  float: left;
  color: var(--off-white);
}
.panel {
  padding: 0.5rem 2rem;
  border: 0.1rem solid var(--off-white);
  border-radius: 0.25rem;
  background-color: var(--red-panel);
  color: var(--off-white);
}

h2 {
  color: var(--off-white);
  margin: 0;
  margin-bottom: 1rem;
}

/* Listen buttons */
#stream {
  width: 100%;
  float: left;
}
/* There are two groups that go 
 * side by side on a wide display */
.linkgroup {
  width: 100%;
  float: left;
  padding: 0 0.5rem;
}

/* Mailing List Signup Form */
input, select, textarea {
  width: 100%;
  padding: 0.75rem;
  resize: vertical;
}
fieldset {
  border: none;
}
label {
  padding: 0.5rem;
  padding-left: 0rem;
  display: inline-block;
}
input[type=submit] {
  background-color: var(--blue-tie);
  color: var(--off-white);
  margin-top: 1rem;
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  float: right;
}

#bio p {
  text-indent: 1.5rem;
}

.quote {
  margin-bottom: 0;
  text-align: center;
  font-family: 'Special Elite', cursive;
}
.quoter {
  margin-top: 0;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.quoter a {
  color: var(--blue-tie);
  padding-left: 1em;
}
/* Footer w/ social media */
#footer {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

/* Disable wide logo and enable stacked logo*/
#img-banner-mobil {
  display: block;
}
#img-banner-full {
  display: none;
}

/* Tablet formatting */
@media only screen and (min-width: 768px) {
  nav .social {
    float: left;
  }
  .linkgroup {
    width: 50%;
  }
  .modal {
    padding: 0 15rem;
  }
  /* Enable wide logo and disable stacked logo */
  #img-banner-mobil {
    display: none;
  }
  #img-banner-full {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  #img-banner-full {
    padding: 0 5rem;
  }
  nav .social {
    width: unset;
    float: right;
    padding: 0 0.25rem;
  }
  #mainpic {
    width: 50%;
  }
  #maincontent {
    width: 50%;
    padding-left: 1rem;
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 6.25rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: auto;
  padding: 1.25rem;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
