:root {
  --brown-bg: #432222;
  --red-panel: #843D3D;
  --red-nav: #C3463C;
  --blue-tie: #7D9CA8;
  --off-white: #F2F2F2;
  --blackish: #383232;
}
* {
  box-sizing: border-box;
}
html {
  background-color: var(--brown-bg);
}
h1 {
  font-family: 'Special Elite', cursive;
  font-size: 4em;
}
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
header {
  padding: 0 1em;
  text-align: center;
  color: var(--off-white);
  display: none;
}
nav {
  margin: 0.75em;
  margin-bottom: 0;
  padding: 0.25em;
  background-color: var(--red-nav);
  overflow: hidden;
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
}
nav a {
  float: left;
  display: inline-block;
  color: var(--off-white);
  text-align: left;
  padding: 0.5em;
  text-decoration: none;
}
nav a:hover {
  background-color: var(--blue-tie);
  color: var(--blackish);
}
.content {
  padding: 1em 1.25em;
  width: 100%;
  overflow: hidden;
  float: left;
}
.right {
  padding: 1em 1.25em;
  width: 100%;
  overflow: hidden;
  float: left;
}
#img-album {
  float: left;
  width: 100%;
  padding-bottom: 1.25em;
}
/* Mailing List Signup Form */
fieldset {
  background-color: var(--red-panel);
  color: var(--off-white);
}
input, select, textarea {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 0.5em;
  padding-left: 0em;
  display: inline-block;
}
input[type=submit] {
  background-color: var(--blue-tie);
  color: var(--off-white);
  margin-top: 1em;
  padding: 1em 1.25em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.links {
  color: var(--off-white);
  width: 100%;
  margin-top: 1em;
}
.links img {
  width: 100%;
  float: left;
  padding: 0.5em 1em;
}
.linkgroup {
  width: 100%;
  float: left;
}
/* Footer w/ social media */
.footer {
  font-family: 'Special Elite', cursive;
  background-color: var(--red-nav);
  color: var(--blackish);
  width: 100%;
  border-top: 1px solid black;
  margin-top: 1.25em;
  text-align: center;
  float: left;
}
/* Social Media Icons */
.fa {
  padding: 1em 1.875em 1em 1.25em;
  margin: 0.625em 0.3em;
  font-size: 2em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: var(--off-white);
}
.fa-instagram {
  background: #c13584;
  color: var(--off-white);
}
.fa-twitter {
  background: #55ACEE;
  color: var(--off-white);
}

/* Tablet formatting */
@media only screen and (min-width: 768px) {
  header {
    display: inline-block;
    width: 100%;
    float: center;
  }
  nav {
    margin-top: 0em;
  }
  .linkgroup {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    width: 50%;
  }
  .right {
    float: right;
    width: 50%;
    padding: 0 1em;
    padding-top: 4.5em;
  }
}
