:root {
  --brown-bg: black;/*#432222;*/
  --red-panel: #843D3D;
  --red-nav: #C3463C;
  --blue-tie: #7D9CA8;
  --off-white: #F2F2F2;
  --blackish: #383232;
}
* {
  box-sizing: border-box;
}
html {
  background-color: var(--brown-bg);
}
h1 {
  font-family: 'Special Elite', cursive;
  font-size: 4em;
}
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
header {
  display: inline-block;
  width: 100%;
  padding: 1em;
  text-align: center;
  color: var(--off-white);
}
header img {
  width: 100%;
}
nav {
  margin: 0 0.5em;
  padding: 0.25em;
  background-color: var(--red-panel);
  overflow: hidden;
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  border: 1px solid var(--off-white);
  border-radius: 0.25em;
}
nav a {
  float: left;
  display: inline-block;
  color: var(--off-white);
  text-align: left;
  padding: 0.5em;
  text-decoration: none;
}
nav .social {
  float: right;
  padding: 0 0.25em;
}
nav a:hover {
  background-color: var(--blue-tie);
  color: var(--blackish);
}

/* Social Media Icons */
.fa {
  margin: 0 0.3em;
  font-size: 2em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: black;
  color: var(--off-white);
}
.social a {
  padding: 0.5em;
  margin: 0 0.125em;
}
.fa:hover {
    opacity: 0.7;
}

/* Main page */
.content {
  width: 100%;
  padding: 1em;
  overflow: hidden;
  float: left;
}
#img-main {
  float: left;
  width: 100%;
}

/* Left Side */
.links {
  color: var(--off-white);
  width: 100%;
}
/* Listen buttons */
.stream {
  width: 100%;
  padding: 1em;
}
.stream img {
  width: 100%;
  float: left;
  margin: 0.5em 0;
}
/* There are two groups that go 
 * side by side on a wide display */
.linkgroup {
  width: 100%;
  padding: 0 1em;
  float: left;
}
.emailform {
  margin: 0.5em 0;
  padding: 0 1em;
  width: 100%;
  float: left;
}
.emailform h2 {
  margin: 0.25em 0;
}

/* Mailing List Signup Form */
fieldset {
  background-color: var(--red-panel);
  color: var(--off-white);
}
input, select, textarea {
  width: 100%;
  padding: 0.75em;
  border: 1px solid var(--off-white);
  border-radius: 0.25em;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 0.5em;
  padding-left: 0em;
  display: inline-block;
}
input[type=submit] {
  background-color: var(--blue-tie);
  color: var(--off-white);
  margin-top: 1em;
  padding: 1em 1.25em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  float: right;
}

.subpage {
  background-color: var(--red-panel);
  color: var(--off-white);
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid var(--off-white);
  border-radius: 0.25em;
  box-sizing: border-box;
  overflow: hidden;
}
.subpage h2 {
  text-align: center;
  margin: 0.25em 0;
}
.subpage p {
  width: 100%;
  margin: 0.5em 0;
  font-family: 'Special Elite', cursive;
  text-align: center;
  float: left;
}

/* Footer w/ social media */
.footer {
  font-family: 'Special Elite', cursive;
  color: var(--off-white);
  width: 100%;
  margin-top: 0.5em;
  text-align: center;
  float: left;
}

/* Disable wide logo and enable stacked logo*/
#img-banner-mobil {
  display: block;
}
#img-banner-full {
  display: none;
}

/* Tablet formatting */
@media only screen and (min-width: 768px) {
  .linkgroup {
    width: 50%;
  }
  .emailform {
    margin: 0;
  }
  .modal {
    padding: 0 15em;
  }
  /* Enable wide logo and disable stacked logo */
  #img-banner-mobil {
    display: none;
  }
  #img-banner-full {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    width: 50%;
    padding: 1em;
  }
  .stream {
    padding: 0 0.5em;
  }
  .emailform {
    padding: 0;
  }
  .links {
    float: right;
    width: 50%;
    padding: 0;
    padding-right: 1em;
  }
  #img-banner-full {
    padding: 0 5em;
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 6.25em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: auto;
  padding: 1.25em;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
